<h2>{{title}}</h2>

<div class="row">
  <div class="col-md-6">
    {{contact-item-form item=model.contact countries=model.countries action='saveContact' onchangeItemValueAction="selectOnchangeCountry"}}

  </div>
</div>